
.bg{
	height: 100%;
	width:100%;
	background-image: url("red.jpg");
	background-color: grey;
	border:2px solid red;
}
.t{
	color: yellow;
	text-align:center;
}
p{
	color:black;
	font-size:25px;
	text-align:center;
}
.bun{
	height:50px;
	width:100px;
	margin:20px;
	border-width:12px;
	display: list-item;
}